/*
* I am terrible at webdev. People will see this and laugh.
*/

@import "nord.scss";

@font-face {
    font-family: Libertinus;
    src: url("fonts/LibertinusSans-Regular.otf");
}

html {
    font-family: Libertinus;
    font-size: 18px;
}

.bg {
    background-color: $nord0;
    color: $nord4;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.content {
    background-color: $nord1;
    // just for testing
    //width: 10vw;
    //height: 10vh;

    padding: 1em;

    margin: 0 auto;
    margin-bottom: 1em;
}

.narrow {
    width: 50%;
}

.center {
    text-align: center;
}

.spacing {
    margin-top: 1em;
}

.container {
    display: flex;
    flex-flow: row nowrap;
}

.pfp {
    width: 12em;
    height: 12em;
    max-width: 12em;
    max-height: 12em;
    border-radius: 6em;
    align-self: center;
}

.intro-text {
    margin-left: 1em;
}

a:link, a:visited, a:hover, a:active {
    color: $nord8;
    text-decoration: underline;
}

.title {
    background: $nord15;
    color: $nord0;
}

.attention-0 {
    background-color: $nord8;
    color: $nord0;
}

.attention-0 a:link, .attention-0 a:visited, .attention-0 a:hover, .attention-0 a:active {
    color: $nord0;
    text-decoration: underline;
}

.attention-1 {
    background-color: $nord9;
    color: $nord0;
}

.attention-1 a:link, .attention-1 a:visited, .attention-1 a:hover, .attention-1 a:active {
    color: $nord0;
    text-decoration: underline;
}

pre {
    padding: 1em;
}

pre, code {
    font-family: monospace;
}

@media only screen and (max-device-width: 767px) {
    html* {
        font-size: 20px;
    }

    .narrow {
        width: 90%;
    }
    .container {
        flex-flow: column nowrap;
    }
    .pfp {
        width: 40em;
        height: 40em;
        max-width: 40em;
        max-height: 40em;
        border-radius: 20em;
    }
}
