{% extends "base.html" %}

{% block extra_style %}@import url("/blog.css") screen, projection;{% endblock extra_style %}

{% block title %}edu::blog{% endblock title %}

{% block content %}
    {% for post in paginator.pages | reverse %}
        <div class="content narrow container post-header attention-1">
            <div class="post-title"><a href="{{ post.permalink }}">{{ post.title }}</a></div>
            <div class="post-extra">
                Last updated {{ post.date }}. Approx {{ post.reading_time }} min read 
            </div>
        </div>
        {% if post.description %}
        <div class="content narrow container">
            {{ post.description }}
        </div>
        {% endif %}
    {% endfor %}

{% endblock content %}
